:root {
  --font-size: 1rem;
  --light: #f1f1f1;
  --dark: #343434;
  --platinum: #dfdfdf;
  --jet: #343434;
  --robin-egg-blue: #38d8e3;
  --celestial-blue: #3b98d1;
  --ultra-violet: #6e6aa2;
  --federal-blue: #0a054b;
  --shadow: #111111;
  --font-size-xs: 0.85714rem;
  --font-size-sm: 0.875rem;
  --font-size: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    0s;
  --hamburger-transition-active: transform 0.22s
    cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  --hamburger-transition-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --hamburger-transition-before-active: top 0.1s ease-out,
    opacity 0.1s ease-out 0.12s;
  --hamburger-transition-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --hamburger-transition-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

html:not(.iFrame) {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700 !important;
  margin: 0;
}

h1,
.h1 {
  font-size: calc(4.5 * var(--font-size));
  line-height: 120%;
}

h2,
.h2 {
  font-size: calc(2.5 * var(--font-size));
  line-height: 120%;
}

h3,
.h3 {
  font-size: calc(2 * var(--font-size));
  line-height: 120%;
}

h4,
.h4 {
  font-size: calc(1.5 * var(--font-size));
  line-height: 120%;
}

h5,
.h5 {
  font-size: calc(1.25 * var(--font-size));
  line-height: 120%;
}

h6,
.h6 {
  font-size: calc(1.125 * var(--font-size));
  line-height: 120%;
}

@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: calc(3.5 * var(--font-size));
    line-height: 120%;
    margin-bottom: 15px;
  }

  h2,
  .h2 {
    font-size: calc(2 * var(--font-size));
    line-height: 120%;
    margin-bottom: 15px;
  }

  h3,
  .h3 {
    font-size: calc(1.75 * var(--font-size));
    line-height: 120%;
    margin-bottom: 15px;
  }

  h4,
  .h4 {
    font-size: calc(1.25 * var(--font-size));
    line-height: 120%;
    margin-bottom: 15px;
  }

  h5,
  .h5 {
    font-size: calc(1.125 * var(--font-size));
    line-height: 120%;
    margin-bottom: 15px;
  }

  h6,
  .h6 {
    font-size: var(--font-size);
    line-height: 120%;
    margin-bottom: 15px;
  }
}

iframe {
  max-width: 100%;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-0 {
  gap: 0px;
}

.gap-15 {
  gap: 15px;
}

.pad-24 {
  padding: 24px;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.d-none {
  display: none;
}

.fluid-img {
  max-width: 100%;
  height: auto;
}

.round-corners {
  border-radius: 25px;
}

.opacity--0 {
  opacity: 0 !important;
}

.opacity--1 {
  opacity: 0.2 !important;
}

.opacity--2 {
  opacity: 0.4 !important;
}

.opacity--3 {
  opacity: 0.6 !important;
}

.opacity--4 {
  opacity: 0.8 !important;
}

.opacity--5 {
  opacity: 1 !important;
}

.transition--opacity {
  transition: opacity 0.25s ease-in-out !important;
  -moz-transition: opacity 0.25s ease-in-out !important;
  -webkit-transition: opacity 0.25s ease-in-out !important;
}

.dark {
  background-color: var(--dark);
}

.light {
  background-color: var(--light);
}

.strike {
  text-decoration: line-through;
}

.color--light {
  color: #f1f1f1;
}

.color--dark {
  color: #343434;
}

.color--platinum {
  color: #dfdfdf;
}

.color--jet {
  color: #343434;
}

.color--robin-egg-blue {
  color: #38d8e3;
}

.color--celestial-blue {
  color: #3b98d1;
}

.color--ultra-violet {
  color: #6e6aa2;
}

.color--federal-blue {
  color: #0a054b;
}

.color--shadow {
  color: #111111;
}
