body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #0970b0;
}

header {
    color: #fff;
    padding: 35px;
}

main {
    margin: 0px auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

footer {
    color: #fff;
    margin: 35px;
}

.intro { 
    color: #fff;
    font-size: 36px;
    text-align: left;
}

.article {
    width: 30%;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    background-image: url("/assets/img/lets-eat-htx-logo.png");
    height: 150px;
    width: 150px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

a, a:visited {
    color: #002d62;
}

a:hover {
    color: #eb6e1f
}

a.intro-link {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .article {
        width: 45%;
    }

    body {
        background-color: #ccc;
    }
}

@media screen and (max-width: 767px) {
    .article {
        width: 100%;
    }

    .logo {
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }

    body {
        background-color: #333;
    }
}