body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: var(--font-size-lg);
  color: var(--light);
  background-color: var(--dark);
  margin: 2rem 2rem 0;
}

button {
  transition: var(--transition);
}

header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

header h1 {
  margin-bottom: 1em;
}

main {
  display: flex;
  align-items: center;
  transition: background-color 0.3s linear;
}

aside {
  color: var(--dark);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  flex: 1;
  min-width: 300px;
}

.timer-menu__options,
.timer-menu__times,
.timer-menu__settings {
  display: flex;
  flex-direction: column;
  background-color: var(--platinum);
  margin: 1em 0;
  border-radius: 15px;
  box-shadow: 0 0 2em rgb(0 0 0 / 20%);
}

.timer-menu__options label:first-child,
.timer-menu__times label:first-child {
  border-radius: 15px 15px 0 0;
}

.timer-menu__options label:last-child,
.timer-menu__times label:last-child {
  border-radius: 0 0 15px 15px;
}

.timer-menu__settings label {
  border-radius: 15px;
}

.timer-menu__options label:hover,
.timer-menu__times label:hover,
.timer-menu__settings label:hover {
  background-color: var(--light);
}

.timer-menu__options label:first-child:hover,
.timer-menu__times label:first-child:hover {
  border-radius: 15px 15px 0 0;
}

.timer-menu__options label:last-child:hover,
.timer-menu__times label:last-child:hover {
  border-radius: 0 0 15px 15px;
}

.timer-menu__settings label:hover {
  border-radius: 15px;
}

.timer-menu__options.hide,
.timer-menu__times.hide,
.timer-menu__settings.hide {
  display: none;
}

.timer-menu__options label,
.timer-menu__times label,
.timer-menu__settings label {
  cursor: pointer;
  border-bottom: 1px solid var(--silver);
  padding: 1em;
  transition: background-color 0.2s linear;
  display: flex;
  align-items: center;
  gap: 8px;
}

.timer-menu__options label:last-child,
.timer-menu__times label:last-child,
.timer-menu__settings label:last-child {
  border-bottom: none;
}

.timer-menu__times label {
  justify-content: space-between;
}

.info {
  font-size: 0.75em;
}
.timer-menu__options input,
.timer-menu__settings input {
  inline-size: 1.3em;
  block-size: 1.3em;
  text-align: center;
}

.timer-menu__times input {
  display: block;
  inline-size: 3.3em;
  block-size: 1.5em;
  text-align: center;
  border: 1px solid var(--silver);
  outline: none;
}

.timer-menu__times input.valid:focus {
  border-color: green;
}

.timer-menu__times input.invalid:focus {
  border-color: red;
}

.timer-menu__times input:focus ~ .tooltip {
  display: block;
  opacity: 1;
}

.timer-menu__controls button {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--platinum);
}

.timer-menu__controls button:hover {
  background-color: var(--light);
}

.timer-container {
  flex: 4;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.timer-clock {
  font-size: 15vw;
}

.tooltip {
  display: none;
  background: var(--light);
  position: absolute;
  right: -190px;
  margin-top: -0.2em;
  border-radius: 15px;
  min-width: 160px;
  padding: 15px 10px;
  font-size: 0.9rem;
  text-align: center;
}

.tooltip::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--light);
  left: -8px;
  top: 18px;
}

header h1 {
  margin-bottom: 0px;
}

@media (max-width: 769px) {
  main {
    flex-direction: column;
  }

  aside {
    width: 100%;
    order: 2;
  }
}
