:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-light: rgb(196, 196, 196);
    --gray-light-rgb: 196, 196, 196;
    --gray-dark: #343a40;
    --black: #000;
    --silver: #e5e5e5;
    --muted: #727272;
    --blue-silver: #4d6687;
    --blue-silver-1: #7085a0;
    --blue-silver-2: #32527b;
    --blue-silver-3: #183C69;
    --bronze: #7b3d22;
    --bronze-1: #975b41;
    --bronze-2: #88472b;
    --bronze-3: #5a2108;
    --aqua: #278195;
    --aqua-1: #47A8BE;
    --aqua-2: #16697B;
    --pomengranate: #5C194A;
    --pomengranate-1: #A45E91;
    --pomengranate-2: #400831;
    --neutral-1: #ffffff;
    --neutral-2: #FAFBFC;
    --neutral-3: #EBECF0;
    --neutral-4: #C1C7D0;
    --neutral-5: #A5ADBA;
    --neutral-6: #8993A4;
    --neutral-7: #6B778C;
    --neutral-8: #49576E;
    --neutral-9: #31415E;
    --gray-1: #F8F8F8;
    --gray-2: #F1F1F1;
    --gray-3: #D8D8D8;
    --gray-4: #B2B2B2;
    --gray-5: #959595;
    --gray-6: #575757;
    --gray-7: #333333;
    --gray-8: #222222;
    --gray-9: #101010;
    --primary: #101010;
    --primary-light: #dbc6b3;
    --primary-dark: #60462e;
    --secondary: #FDFCFB;
    --lite-text: #717171;
    --accent: #F9F9F9;
    --success: #1D7D43;
    --info: #3b5998;
    --warning: #C22C30;
    --danger: #E94235;
    --light: #ffffff;
    --dark: #101010;
    --background: #FFFFFF;
    --primary-link-hover: var(--black);
    --secondary-link-hover: #C1C7D0;
    --info-link-hover: #0f6674;
    --warning-link-hover: #ba8b00;
    --danger-link-hover: #a71d2a;
    --light-link-hover: #cbd3da;
    --dark-link-hover: #121416;
    --primary-hover: #C1C7D0;
    --primary-hover-border: #C1C7D0;
    --primary-active: #EBECF0;
    --primary-active-border: #EBECF0;
    --secondary-border: #101010;
    --secondary-hover: #C1C7D0;
    --secondary-hover-border: #C1C7D0;
    --secondary-active: #EBECF0;
    --secondary-active-border: #EBECF0;
    --success-hover: #31975a;
    --success-hover-border: #2e8d54;
    --success-active-border: #1c7430;
    --info-hover: #138496;
    --info-hover-border: #117a8b;
    --info-active-border: #10707f;
    --warning-hover: #e0a800;
    --warning-hover-border: #d39e00;
    --warning-active-border: #c69500;
    --danger-hover: #c82333;
    --danger-hover-border: #bd2130;
    --danger-active-border: #b21f2d;
    --dark-hover: #111111;
    --dark-hover-border: #0b0b0b;
    --dark-active-border: #040404;
    --light-hover: #e0efef;
    --light-hover-border: #d7ebeb;
    --light-active-border: #cfe7e7;
    --text-light: var(--white);
    --text-dark: var(--black);
    --card-header-bg: #F8F8F8;
    --card-border: #F8F8F8;
    --control-border: #ced4da;
    --control-text: #495057;
    --control-disabled: #e9ecef;
    --control-focus: #F9FCFC;
    --control-focus-border: var(--gray-light);
    --control-dark-bg: #FCFCFC;
    --custom-control-label: var(--primary-light);
    --range: #bed8fe;
    --select-shadow: inset 0 0.07143rem 0.14286rem rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(148, 108, 71, 0.25);
    --dropdown-hover: #f8f9fa;
    --blogroll-banner: #fbfbfb;
    --inactive-section: #8F8F8F;
    --review-bar: #cdcdcd;
    --border: #dee2e6;
    --border-radius: 0.25rem;
    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --line-height: 1.5;
    --space-1: 0.46429rem;
    --space-2: 1rem;
    --space-3: 1.85714rem;
    --space-4: 2.78571rem;
    --space-5: 5.57143rem;
    --space-6: 6rem;
    --space-custom-label: 1.42857rem;
    --space-label-sm: 0.35714rem;
    --space-label: 0.71429rem;
    --space-label-lg: 1.78571rem;
    --space-badge: 35px;
    --space-other-sm: 1.07143rem;
    --space-other: 2.14286rem;
    --space-other-lg: 3.57143rem;
    --space-other-xl: 5.71429rem;
    --space-other-xxl: 7.14286rem;
    --font-size-xs: 0.85714rem;
    --font-size-sm: 0.875rem;
    --font-size: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
    --font-size-icon: 1.28571rem;
    --font-size-icon-span: 1.21429rem;
    --input-line-height: 1.5em;
    --input-padding-x: 1rem;
    --input-padding-y: 0.715rem;
    --input-padding-y-sm: 0.25rem;
    --input-padding-x-sm: 0.5rem;
    --input-height-border: 0.14286rem;
    --input-height-sm: calc(1.5em + 1em + 2px);
    --border-width: 0.07143rem;
    --icon-size: 1.92857rem;
    --input-btn-padding-y-lg: 0.5rem;
    --input-btn-padding-x-lg: 3.5rem;
    --input-btn-padding-y-sm: 0.5rem;
    --input-btn-padding-x-sm: 2.0rem;
    --font-sans-serif: "Open Sans", sans-serif;
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-awesome: "Font Awesome 6 Pro"
}